* {
    margin: 0px;
    padding: 0px;
}

//TEMPORARY STYLING
.wrapper-aboutUs-leftPanel, .wrapper-aboutUs-rightPanel {
    background: rgba(253, 235, 208, 0.3);
    border-radius: 10px;
    
}

//TEMPORARY STYLING

.topDiv {
    margin-top: 150px;
}

.wrapper-aboutUs-middlePanel {
    margin-top: 50px;
}

.wrapper {
    display: grid;
    overflow: auto;
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 50pxpx;
}

.wrapper-aboutUs-leftPanel, .wrapper-aboutUs-rightPanel {
    padding: 15px;
}

.wrapper-aboutUs-leftPanel li {
    margin-left: 25px;
}

@media (min-width: 500px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 80px 1fr;
        grid-template-areas:
        "wrapper-aboutUs-leftPanel wrapper-aboutUs-middlePanel wrapper-aboutUs-rightPanel";
    }
}

#footer {
    margin-top: 25px;
}

#contactPhone, a:link {
    text-decoration: none;
}

.wrapper-aboutUs-rightPanel {
    ul {
    list-style-type: none;
    }
}

.wrapper-aboutUs-rightPanel li {
    font-size: 20px;
    margin-left: 5%;
}


// TAB CONTENT STYLING
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}