* {
  margin: 0px;
  padding: 0px; }

.topDiv {
  margin-top: 150px; }

#tabbed-content {
  margin: 0 2%; }

#tabbed-content .tab-li {
  display: inline-block;
  padding: 10px 14px;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  font-family: 'VT323', monospace;
  font-size: 1.5em; }

#tabbed-content .panel {
  display: none;
  padding: 5px 10px;
  border-radius: 4px; }

#tabbed-content .panel h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  margin: 0px;
  padding: 0px; }

#tabbed-content .panel.active {
  display: block; }

#contactPhone, a:link {
  text-decoration: none; }

#contact ul {
  list-style-type: none; }

#about li, #contact li {
  font-size: 20px;
  margin-left: 2%; }

/*
.wrapper-aboutUs-middlePanel {
    margin-top: 50px;
}

.wrapper, #tabbed-content {
    display: grid;
    overflow: auto;
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 50pxpx;
}

.wrapper-aboutUs-leftPanel, .wrapper-aboutUs-rightPanel {
    padding: 15px;
}

.wrapper-aboutUs-leftPanel li {
    margin-left: 25px;
}

@media (min-width: 500px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 80px 1fr;
        grid-template-areas:
        "wrapper-aboutUs-leftPanel wrapper-aboutUs-middlePanel wrapper-aboutUs-rightPanel";
    }
}

#footer {
    margin-top: 25px;
}
*/
